<section class="index-section">
  <p class="what-action"><b>Categories</b></p>
  <ul class="users-list">
    <% @categories.each do |category| %>
      <li>
        <a href="/categories/<%= category %>"> <%= category %></a> 
      </li>
    <% end %>
  </ul>
</section>

<nav class="users-list">
  <a href="/">Back to main page</a>  |  
  <a href="/contacts/new">Add category</a>
</nav>
