<section class="index-section">
  <p class="what-action"><b>Categories</b></p>
  <ul class="users-list">
    <% @categories.each do |category| %>
      <li>
        <a href="/categories/<%= category %>"> <%= category %></a>
        <form action="/categories/<%= category %>/delete" method="post"
          class="inline">
          <input type="submit" value="Delete category">
        </form>
      </li>
    <% end %>
  </ul>
</section>

<nav class="users-list">
  <a href="/">Back to main page</a>  |  
  <a href="/categories/new">Add category</a>
</nav>
