<article>
  <section class="index-section">
    <p class="what-action"><b>What do you want to do ?</b></p>
    <nav class="main-actions">
      <ul>
        <li class="single-action"><a href="/contacts/new">
          Enter a new contact</a></li>
        <li class="single-action"><a href="/contacts">See all contacts</a></li>
        <li class="single-action"><a href="/categories">See a category</a></li>
      <ul>
    </div>
  </section>
</article>


