<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <title>Training Contact App</title>
  </head>

  <body>
    <header>
      <%== erb :flash_messages %>

      <h1 id="main-title">Training Contacts App</h1>
      <h2 id="main-subtitle">A training app for the 
      <a href="https://www.launchschool.com" class="LS-link">Launch School</a> 170 course </h2>

      <%== display_user_status(session) %>
    </header>

    <main>
      <%== yield %>
    </main>

    <footer>
      <p><small>Made with joy and enthousiasm by <a href="http://www.spectrums.be">Laurent Guinotte</a> |
      2018</small>
    </footer>
  </body>
</html>
