<aside class="user-status">
  <p>Logged in as : <%= @username %>.</p><br>
  <form action="/users/signout" method="post">
    <input type="submit" value="Sign out">
    <% if admin? %>
    <a href="/users">Administrate users</a>
    <% end %>
  </form>
</aside>
