<section class="index-section">
  <p class="what-action"><b>Add a new category</b></p>
  <form action="/categories" method="post" class="contact-input-fields">
    <fieldset>
      <legend>Categroy name</legend>
      <label for="category">
      <input type="text" name="category" id="category" required>
      </label>
    </fieldset><br>
    
    <input type="submit" value="Add category">
    <a href="/categories">Cancel</a>
  </form>
</section>



