<section class="index-section">
  <p class="what-action"><b>Register new user</b></p>
  <form action="/users" method="post" class="contact-input-fields">
    <fieldset>
      <legend>Username</legend>
      <label for="username">
      <input type="text" name="username" id="username" required>
      </label>
    </fieldset><br>

    <fieldset>
      <legend>Password</legend>
      <label for="password">Password:
      <input type="password" name="password" id="password" required>
      </label><br>

      <label for="password-confirmation">Password confirmation:
      <input type="password" name="password_confirmation"
      id="password-confirmation" required>
      </label>
    </fieldset><br>
    
    <input type="submit" value="Register" id="register-user">
    <a href="/">Cancel</a>
  </form>
</section>



