<section class="index-section">
  <h3 class="what-action"><b>Sign in<b></h3>
</section>

<form action="/users/signin" class="contact-input-fields" method="post">
  <fieldset>
    <legend>Credentials</legend>
    <label for="username" >Username:
    <input type="text" name="username" placeholder="Username"
    id="username" required>
    </label><br>

    <label for="password">Password:
    <input type="password" name="password" placeholder="x%#apo12"
    id="password" required>
    </label><br>
    <input type="submit" value="Sign in">
  </fieldset><br>
</form>

<nav class="users-list">
  <a href="/">Back to main page</a>
</nav>




